*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


.logo {
	height: 50px;
	width: 50px;

}



body {
	/*background-image:url(http://lorempixel.com/400/200/);*/
	/*background-image: url(../images/tipsy_box_mobile_bar-packages.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}
.jumbotron{
    height: 100vh;
    background-image: url(../images/jumbotron-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
}

.display-4 {
	
	font-family: 'Roboto', sans-serif;
	font-weight: 10px;
	color:white;
}


.lead {
	
	font-family: 'Roboto', sans-serif;
	font-weight: 10px;
	color:white;
}


